#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.item-creation {
  margin-bottom: 20px;
}

.columns {
  margin-bottom: 10px;
  padding-bottom: 20px ;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.column {
  border: 1px solid;
  padding: 10px;
  width: 220px;
  background-color: aliceblue;
}

.column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.column-name {
  width: 40%;
  text-overflow: ellipsis;
  text-align: left;
  overflow-x: hidden;
}

.column-controls {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 4px;
  border: 1px dashed;
  background-color: white;
}

.task.selected {
  border: 3px solid;
  border-color: darkgreen;
}

.task-name {
  width: 60%;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}

.icon {
  height: 16px;
  cursor: pointer;
}
